.identity_box {
    -fx-background-color: #87CEEB ;
    -fx-background-radius: 15;
}

.name_and_rank {
    -fx-background-color: #9de85f;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, green, 10, 0.5, 0, 0);

}

.main_bar{
    -fx-background-color:  #e0d07b;
    -fx-background-radius: 15;
}

.upper_button {
    -fx-background-color: #F9FAFB;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, #e0d07b, 10, 0.5, 0, 0);
}

.isbat{
    -fx-background-color: #F9FAFB;
    -fx-background-radius: 15;
    -fx-effect: dropshadow(gaussian, #e0d07b, 10, 0.5, 0, 0);
}

.home_page_up
{
   -fx-background-color: #f5c487;
    -fx-background-radius: 15;
}
.home_page_background
{
   -fx-background-color: #8f7759;
   -fx-background-radius: 15;
}

.logout_upper_button {
    -fx-background-color: #54b2b7;
    -fx-text-fill: white;
    -fx-font-size: 19px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-transition: all 0.3s ease-in-out;
}

.logout_upper_button:hover {
    -fx-background-color: #3a8b8f;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-cursor: hand;
    -fx-translate-y: -8px; /* Moves the button higher for better visibility */
    -fx-translate-x: 4px;  /* Adds more movement to the right */
}

.logout_upper_button:pressed {
    -fx-background-color:#3a8b8f;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-translate-y: -2px;
    -fx-translate-x: 1px;
}

/* Root styles */
.root {
    -fx-font-family: 'Montserrat', sans-serif;
}

/* Gradient Button Base Style */
.gradient-button {
    -fx-font-size: 18px;
    /*-fx-font-weight: bold;*/
    -fx-text-fill: #311e4e;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
}

/* Hover Effect for Buttons */
.gradient-button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0.5, 0, 0);
}

/* Left Side Buttons */
.left-button {
    -fx-font-size: 16px;
    /*-fx-font-weight: bold;*/
    -fx-text-fill: #311e4e;
    -fx-background-color: linear-gradient(to right, #2E3192, #1BFFFF);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
    -fx-alignment: center-left;
}

/* Hover Effect for Buttons */
.left-button:hover {
    -fx-background-color: linear-gradient(to right, #1BFFFF, #2E3192);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0.5, 0, 0);
}

/* Icon Styling */
.left-button .image-view {
    -fx-fit-height: 30px;
    -fx-fit-width: 30px;
}