.identity_box {
    -fx-background-color: #cbd4ba;
    -fx-background-radius: 15;
}

.main_bar{
    -fx-background-color: #cbd4ba;
    -fx-background-radius: 15;
}

.upper_button{
    -fx-background-color: #51632e;
    -fx-background-radius: 15;
}
